version: "3.8"

services:
    api:
        container_name: transactions-api
        build: .
        restart: always
        ports:
            - 5000:5000
        depends_on:
            - db
        env_file:
            - .env
            
    db:
        image: bitnami/postgresql:latest
        environment:
            POSTGRES_USER: docker
            POSTGRES_PASSWORD: docker
            POSTGRES_DB: polls
        ports:
            - "5432:5432"
        volumes:
            - polls_pg_data:/bitnami/postgresql
        restart: always

volumes:
    polls_pg_data:
