version: "3.8"

services:
    db:
        image: bitnami/postgresql:latest
        environment:
            POSTGRES_USER: docker
            POSTGRES_PASSWORD: docker
            POSTGRES_DB: polls
        ports:
            - "5432:5432"
        volumes:
            - polls_pg_data:/bitnami/postgresql
        restart: always 

    api: 
        container_name: flashfy-api
        build: . 
        restart: always
        ports:
            - 5000:5000
        depends_on:
            - db
        env_file:
            - .env

volumes:
    polls_pg_data:
